body {
  background-color: white;
}
table {
  position: absolute;
  top: 10%;
  border-collapse: collapse;
  margin-top: -1%;
  width: 99%;
}
table tr,
td {
  font-size: larger;
  color: black;
  font-weight: 900;
  border: 4px solid black;
}
input {
  width: 99.7%;
}
img {
  width: 200px;
  height: auto;
}
.acteur {
  color: black;
  font-size: medium;
}
#acteur {
  width: 34%;
  color: black;
  font-size: medium;
}
